<main class="midsection">
  <div class="innerheader">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>نجومنا الجدد</h2>
          <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
              <li class="breadcrumb-item active" aria-current="page">نجومنا الجدد</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="newscards empcards">
    <div class="container">

      <form class="row gx-4 mb-5">
        <div class="col-12 col-md-auto mt-2 mt-md-0">
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ابحث هنا">
        </div>
        <div class="col-12 col-md-auto mt-2 mt-md-0">
          <input type="date" class="form-control" id="exampleFormControlInput2" placeholder="تاريخ الخبر">
        </div>
        <div class="col-12 col-md-auto mt-2 mt-md-0">
          <button type="submit" class="btn btn-primary full px-5 h-100">بحث </button>
        </div>
      </form>

      <div class="row gx-md-5 gx-2">
        <div class="col-12 col-lg-6">
          <div class="empcard p-4 pb-3">
            <div class="d-flex flex-row mb-3">
              <div class="card-image ">
                <img src="assets/img/profile.png" class="card-img-top img-fluid" alt="...">
              </div>
              <div class="card-body">
                <a href="#" class="card-title">محمد خالد احمد الغانم</a>
                <p class="card-dec ">مبرمج أول شيربوينت</p>
                <p class="card-dec ">إدارة تقنية المعلومات</p>



                <h6 class="fw-normal d-flex align-items-center">
                  <img src="assets/img/calendargreen.svg" alt="" class="img-fluid">
                  <span class="px-2">تاريخ الالتحاق 20-05-2023</span>
                </h6>




              </div>
            </div>
            <p class="main_dec">وريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى)
              ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر
              عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع
              شكلي لهذه الأحرف. خمسة قرون من الزمن لم تقضي على هذا النص، بل انه حتى صار مستخدماً وبشكله الأصلي في
              الطباعة والتنضيد الإلكتروني. انتشر بشكل كبير في ستينيّات هذا القرن مع إصدار رقائق "ليتراسيت" (Letraset)
              البلاستيكية تحوي مقاطع من هذا النص، وعاد لينتشر مرة أخرى مؤخراَ مع ظهور برامج النشر الإلكتروني مثل "ألدوس
              بايج مايكر" (Aldus PageMaker) والتي حوت أيضاً على نسخ من نص لوريم إيبسوم.</p>
          </div>

        </div>
        <div class="col-12 col-lg-6">
          <div class="empcard p-4 pb-3">
            <div class="d-flex flex-row mb-3">

              <div class="card-image ">
                <img src="assets/img/profile.png" class="card-img-top img-fluid" alt="...">
              </div>

              <div class="card-body">
                <a href="#" class="card-title">محمد خالد احمد الغانم</a>
                <p class="card-dec ">مبرمج أول شيربوينت</p>
                <p class="card-dec ">إدارة تقنية المعلومات</p>



                <h6 class="fw-normal d-flex align-items-center">
                  <img src="assets/img/calendargreen.svg" alt="" class="img-fluid">
                  <span class="px-2">تاريخ الالتحاق 20-05-2023</span>
                </h6>




              </div>
            </div>
            <p class="main_dec">وريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى)
              ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر
              عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع
              شكلي لهذه الأحرف. خمسة قرون من الزمن لم تقضي على هذا النص، بل انه حتى صار مستخدماً وبشكله الأصلي في
              الطباعة والتنضيد الإلكتروني. انتشر بشكل كبير في ستينيّات هذا القرن مع إصدار رقائق "ليتراسيت" (Letraset)
              البلاستيكية تحوي مقاطع من هذا النص، وعاد لينتشر مرة أخرى مؤخراَ مع ظهور برامج النشر الإلكتروني مثل "ألدوس
              بايج مايكر" (Aldus PageMaker) والتي حوت أيضاً على نسخ من نص لوريم إيبسوم.</p>
          </div>

        </div>
        <div class="col-12 col-lg-6">
          <div class="empcard p-4 pb-3">
            <div class="d-flex flex-row mb-3">

              <div class="card-image ">
                <img src="assets/img/profile.png" class="card-img-top img-fluid" alt="...">
              </div>

              <div class="card-body">
                <a href="#" class="card-title">محمد خالد احمد الغانم</a>
                <p class="card-dec ">مبرمج أول شيربوينت</p>
                <p class="card-dec ">إدارة تقنية المعلومات</p>



                <h6 class="fw-normal d-flex align-items-center">
                  <img src="assets/img/calendargreen.svg" alt="" class="img-fluid">
                  <span class="px-2">تاريخ الالتحاق 20-05-2023</span>
                </h6>




              </div>
            </div>
            <p class="main_dec">وريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى)
              ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر
              عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع
              شكلي لهذه الأحرف. خمسة قرون من الزمن لم تقضي على هذا النص، بل انه حتى صار مستخدماً وبشكله الأصلي في
              الطباعة والتنضيد الإلكتروني. انتشر بشكل كبير في ستينيّات هذا القرن مع إصدار رقائق "ليتراسيت" (Letraset)
              البلاستيكية تحوي مقاطع من هذا النص، وعاد لينتشر مرة أخرى مؤخراَ مع ظهور برامج النشر الإلكتروني مثل "ألدوس
              بايج مايكر" (Aldus PageMaker) والتي حوت أيضاً على نسخ من نص لوريم إيبسوم.</p>
          </div>

        </div>
        <div class="col-12 col-lg-6">
          <div class="empcard p-4 pb-3">
            <div class="d-flex flex-row mb-3">

              <div class="card-image ">
                <img src="assets/img/profile.png" class="card-img-top img-fluid" alt="...">
              </div>

              <div class="card-body">
                <a href="#" class="card-title">محمد خالد احمد الغانم</a>
                <p class="card-dec ">مبرمج أول شيربوينت</p>
                <p class="card-dec ">إدارة تقنية المعلومات</p>



                <h6 class="fw-normal d-flex align-items-center">
                  <img src="assets/img/calendargreen.svg" alt="" class="img-fluid">
                  <span class="px-2">تاريخ الالتحاق 20-05-2023</span>
                </h6>




              </div>
            </div>
            <p class="main_dec">وريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى)
              ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر
              عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع
              شكلي لهذه الأحرف. خمسة قرون من الزمن لم تقضي على هذا النص، بل انه حتى صار مستخدماً وبشكله الأصلي في
              الطباعة والتنضيد الإلكتروني. انتشر بشكل كبير في ستينيّات هذا القرن مع إصدار رقائق "ليتراسيت" (Letraset)
              البلاستيكية تحوي مقاطع من هذا النص، وعاد لينتشر مرة أخرى مؤخراَ مع ظهور برامج النشر الإلكتروني مثل "ألدوس
              بايج مايكر" (Aldus PageMaker) والتي حوت أيضاً على نسخ من نص لوريم إيبسوم.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>