<main class="midsection">
  <div class="innerheader">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>نجومنا الجدد</h2>
          <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
              <li class="breadcrumb-item active" aria-current="page">نجومنا الجدد</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="newscards empcards">
    <div class="container">

      <form class="row gx-4 mb-5">
        <div class="col-12 col-md-auto mt-2 mt-md-0">
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ابحث هنا">
        </div>
        <div class="col-12 col-md-auto mt-2 mt-md-0">
          <input type="date" class="form-control" id="exampleFormControlInput2" placeholder="تاريخ الخبر">
        </div>
        <div class="col-12 col-md-auto mt-2 mt-md-0">
          <button type="submit" class="btn btn-primary full px-5 h-100">بحث </button>
        </div>
      </form>

      <div class="row gx-md-5 gx-2">
        <div class="col-12 col-lg-6" *ngFor="let item of employeeList">
          <div class="empcard p-4 pb-3">
            <div class="d-flex flex-row mb-3">
              <div class="card-image ">
                <img [src]="getImageUrl(item.properties.picture[0].url)"  class="card-img-top img-fluid" alt="...">
              </div>
              <div class="card-body">
                <a href="#" class="card-title" [innerHTML]="item?.properties?.pageTitle" ></a>
                <p class="card-dec ">{{item?.properties?.position}}</p>
                <p class="card-dec ">{{item?.properties?.department}}</p>
                <h6 class="fw-normal d-flex align-items-center">
                  <img src="assets/img/calendargreen.svg" alt="" class="img-fluid">
                  <span class="px-2"> {{'joining_date' | translate }}&nbsp; {{item?.properties?.joinDate | date: 'dd-MM-YYYY'}}</span>
                </h6>
              </div>
            </div>
            <p class="main_dec" [innerHTML]="item?.properties?.bodyContent.markup"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>