<footer>
  <div class="container-fluid">
    <div class="footer pb-3">
        <div class="container">
          <div class="row gx-0 align-items-center">
            <div class="col-sm-12 col-md-10">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-2 footerlogo">
                      <img src="assets/img/footerlogo.png" class="img-fluid footerlogo" />
                    </div>
                    <div class="col-12 col-md-3">
                      <ul class="footerLinks m-0">
                        <li><a href="#">أنظمتي</a></li>
                        <li><a href="#">أخبار نجم</a></li>
                        <li><a href="#">السياسات واللوائح</a></li>
                      </ul>
                    </div>
                    <div class="col-12 col-md-3">
                      <ul class="footerLinks m-0">
                        <li><a href="#">عروض نجم</a></li>
                        <li><a href="#">الملفات المشتركة</a></li>
                        <li><a href="#">نجم اكاديمي</a></li>
                      </ul>
                    </div>
                    <div class="col-12 col-md-3 align-self-start">
                      <ul class="footerLinks m-0">
                        <li><a href="#">تواصل</a></li>                          
                      </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-2 text-start">
              <div class="snapChat text-center">
                  <div class="fs-15 fw-medium text-white mb-1">انضم الى نجم سناب شات</div>
                  <figure class="m-0"><img src="assets/img/snapchat.png" alt="" class="img-fluid"></figure>
                  <div class="fs-15 fw-medium text-white mt-1">امسح الرمز</div>
              </div>
            </div>            
          </div>
          <div class="row">
            <div class="col-sm-12 text-center">
              <div class="copyright border-top mt-3">
                <p class="fs-15 fw-medium text-white pt-3 mb-0">جميع الحقوق محفوظة لشركة نجم لخدمات التأمين 2023</p></div>
              </div>
          </div>
        </div>
    </div>    
  </div>
</footer>