<main class="midsection">
  <div class="innerheader">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 [innerHTML]="tawasolDetails?.properties?.bodyContent?.markup"></h2>
          <h4>
            <img src="assets/img/calendargreen.svg" alt="">
            <span>{{tawasolDetails?.properties?.tawasolDate}}</span>
          </h4>
          <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/main/dashboard">{{'main' | translate}}</a></li>
              <li class="breadcrumb-item"><a routerLink="/main/dashboard/tawasol">{{'communication' | translate }}</a></li>
              <li class="breadcrumb-item active" aria-current="page" [innerHTML]="tawasolDetails?.properties?.bodyContent?.markup"></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="newsdetails">
    <div class="container">            
         <div class="row gx-4 justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="innnerimage">
                    <img [src]="getImageUrl(tawasolDetails?.properties?.mainPictures[0].url)" class="d-block w-100" alt="...">
                </div>
            </div>
         </div>
    </div>
  </div>
</main>