<main class="midsection">
  <div class="innerheader">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{employeeDetails?.properties?.pageTitle}}</h2>
        
          <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
              <li class="breadcrumb-item"><a href="#">نجومنا الجدد</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{employeeDetails?.properties?.pageTitle}}</li>
            </ol>
          </nav>

        </div>
      </div>
    </div>
  </div>

  <div class="newscards empcards">
    <div class="container">
              <div class="row gx-5">
                <div class="col-md-12">
                    <div class="empcard  shadow-none border-0 p-0">
                        <div class="d-flex flex-row mb-3">
                        
                        <div class="card-image ">
                            <img [src]="getImageUrl(employeeDetails.properties.picture[0].url)" class="card-img-top img-fluid" alt="...">
                        </div>
                       
                        <div class="card-body">
                            <a href="#" class="card-title" [innerHTML]="employeeDetails?.properties?.pageTitle"></a>
                            <p class="card-dec ">{{employeeDetails?.properties?.position}}</p>
                            <p class="card-dec ">{{employeeDetails?.properties?.department}}</p>                 
                            <h6 class="fw-normal d-flex align-items-center">
                                <img src="assets/img/calendargreen.svg" alt="" class="img-fluid">
                                <span class="px-2">{{'joining_date' | translate }}&nbsp; {{employeeDetails?.properties?.joinDate | date: 'dd-MM-YYYY'}}</span>
                            </h6>
                        </div>
                    </div>
                    <p class="main_dec" [innerHTML]="employeeDetails?.properties?.bodyContent.markup"></p>
                    </div>

                </div>
              
                
              </div>
    </div>
  </div>
</main>