<main class="midsection">
  <div class="innerheader position-relative">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>إعلانات عامة</h2>
        
          <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
              
              <li class="breadcrumb-item active" aria-current="page">إعلانات عامة</li>
            </ol>
          </nav>

        </div>
      </div>
    </div>
    <a href="#" class="btn-secondary righthomebutton">
        حساب مسؤول النظام
    </a>
  </div>

<div class="advtablelist">
    <div class="container-fluid custompadding">
        <div class="row justify-content-between mb-3">          
            <div class="col-12 col-md-10">
                <form class="row gx-4 mt-4 mt-md-0">
                    <div class="col-12 col-md-4 mt-2 mt-md-0">
                      <div class="form-group position-relative">
                        <input type="text" class="form-control " id="exampleFormControlInput1" placeholder="ابحث هنا">
                        <a href="" class="searchicon position-absolute start-0 top-0 mt-2 px-3">
                          <img src="assets/img/search.svg" alt="">
                        </a>
                      </div>
                    </div>
                    <div class="col-12 col-md-4 mt-2 mt-md-0">                      
                      <input type="date" class="form-control" id="exampleFormControlInput2" placeholder="تاريخ الخبر">
                    </div>
                    <div class="col-12 col-md-4 mt-2 mt-md-0">
                      <button type="submit" class="align-items-center btn btn-primary d-flex h-100 full justify-content-center px-3">
                        <img src="assets/img/searchwhite.svg" alt="">
                        <span class="px-2">بحث </span>
                      </button>
                    </div>
                  </form> 
            </div>
            <div class="col-12 col-md-2 mt-2 mt-md-0">
                <button class="btn btn-primary h-100 full" routerLink="/main/news/add">
                    <img src="assets/img/plusicon.svg" alt="">
                    <span class="px-3">
                        إضافة إعلان
                    </span>
                </button>
            </div>
        </div>
        

        <div class="tablearea">
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th scope="col">عنوان الاعلان</th>
                  <th scope="col">تاريخ الانشاء</th>
                  <th scope="col">تم الانشاء بواسطة</th>
                  <th scope="col">تاريخ التعديل</th>
                  <th scope="col">تم التعديل بواسطة</th>
                  <th scope="col">صورة الاعلان</th>
                  <th scope="col">الاجراءات</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>نود احاطتكم بأنه سيكون هناك اعمال صيانة لتحسين الأنظمة و الخدمات</td>
                  <td>12:30:00, 12/05/2023</td>
                  <td>Ahmed Khaled saleh</td>
                  <td>12:30:00, 12/05/2023</td>
                  <td>Ahmed Khaled saleh</td>
                  <td><a href="#" class="text-black-50 text-decoration-underline">عرض الصورة</a></td>
                  <td>
                    <ul class="list-unstyled p-0 mx-auto my-0 d-flex align-items-center justify-content-center">
                      <li>
                        <a routerLink="/main/news/view" class="btn btn-primary">
                          <img src="assets/img/leftlongarrow.svg" alt="">
                        </a>
                      </li>
                      <li class="mx-2">
                        <a href="#" class="btn btn-warning">
                          <img src="assets/img/editicon.svg" alt="">
                        </a>
                      </li>
                   
                      <li>
                        <button  class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                          <img src="assets/img/trash.svg" alt="">
                        </button>
                      </li>
                    </ul>
                  </td>
                </tr>
                
                <tr>
                  <td>نود احاطتكم بأنه سيكون هناك اعمال صيانة لتحسين الأنظمة و الخدمات</td>
                  <td>12:30:00, 12/05/2023</td>
                  <td>Ahmed Khaled saleh</td>
                  <td>12:30:00, 12/05/2023</td>
                  <td>Ahmed Khaled saleh</td>
                  <td><a href="#" class="text-black-50 text-decoration-underline">عرض الصورة</a></td>
                  <td>
                    <ul class="list-unstyled p-0 mx-auto my-0 d-flex align-items-center justify-content-center">
                      <li>
                        <a href="#" class="btn btn-primary">
                          <img src="assets/img/leftlongarrow.svg" alt="">
                        </a>
                      </li>
                      <li class="mx-2">
                        <a href="#" class="btn btn-warning">
                          <img src="assets/img/editicon.svg" alt="">
                        </a>
                      </li>
                   
                      <li>
                        <button  class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                          <img src="assets/img/trash.svg" alt="">
                        </button>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>نود احاطتكم بأنه سيكون هناك اعمال صيانة لتحسين الأنظمة و الخدمات</td>
                  <td>12:30:00, 12/05/2023</td>
                  <td>Ahmed Khaled saleh</td>
                  <td>12:30:00, 12/05/2023</td>
                  <td>Ahmed Khaled saleh</td>
                  <td><a href="#" class="text-black-50 text-decoration-underline">عرض الصورة</a></td>
                  <td>
                    <ul class="list-unstyled p-0 mx-auto my-0 d-flex align-items-center justify-content-center">
                      <li>
                        <a href="#" class="btn btn-primary">
                          <img src="assets/img/leftlongarrow.svg" alt="">
                        </a>
                      </li>
                      <li class="mx-2">
                        <a href="#" class="btn btn-warning">
                          <img src="assets/img/editicon.svg" alt="">
                        </a>
                      </li>
                   
                      <li>
                        <button  class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                          <img src="assets/img/trash.svg" alt="">
                        </button>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>نود احاطتكم بأنه سيكون هناك اعمال صيانة لتحسين الأنظمة و الخدمات</td>
                  <td>12:30:00, 12/05/2023</td>
                  <td>Ahmed Khaled saleh</td>
                  <td>12:30:00, 12/05/2023</td>
                  <td>Ahmed Khaled saleh</td>
                  <td><a href="#" class="text-black-50 text-decoration-underline">عرض الصورة</a></td>
                  <td>
                    <ul class="list-unstyled p-0 mx-auto my-0 d-flex align-items-center justify-content-center">
                      <li>
                        <a href="#" class="btn btn-primary">
                          <img src="assets/img/leftlongarrow.svg" alt="">
                        </a>
                      </li>
                      <li class="mx-2">
                        <a href="#" class="btn btn-warning">
                          <img src="assets/img/editicon.svg" alt="">
                        </a>
                      </li>
                   
                      <li>
                        <button  class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                          <img src="assets/img/trash.svg" alt="">
                        </button>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
           

              <div class="row justify-content-between">

                <div class="col-auto">

                  <div class="d-flex align-items-center numbering">
                    <span>عرض</span>
                    <select class="form-select">
                      <option selected>10</option>
                      <option value="1">20</option>
                      <option value="2">30</option>
                      <option value="3">40</option>                   
                    </select>
                    <span>نتيجة</span>
                  </div>
                </div>

                <div class="col-auto">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="#">السابق</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">4</a></li>
                      <li class="page-item"><a class="page-link" href="#">التالي</a></li>
                    </ul>
                  </nav>
                </div>
                
              </div>
        </div>
    </div>
</div>
</main>


<!-- usefull Component -->
<div class="alert alert-success" role="alert" *ngIf="false">
  <svg xmlns="http://www.w3.org/2000/svg" width="17.049" height="12.429" viewBox="0 0 17.049 12.429">
    <path  d="M-7656.826-5886.69h-.005l-.029,0-.018,0-.018,0-.031-.006h-.006a1.733,1.733,0,0,1-.792-.406l-4.618-4.143a1.75,1.75,0,0,1-.135-2.471,1.75,1.75,0,0,1,2.471-.135l3.385,3.037,7.758-7.758a1.75,1.75,0,0,1,2.475,0,1.752,1.752,0,0,1,0,2.475l-8.931,8.929-.033.032-.024.022-.01.009-.025.022-.009.008-.025.021-.01.008-.022.018-.015.012-.019.014-.02.015-.014.01-.025.018-.011.007-.031.02,0,0a1.746,1.746,0,0,1-.942.275A1.8,1.8,0,0,1-7656.826-5886.69Z" transform="translate(7662.924 5899.099)" fill="currentColor"/>
  </svg>
  <span class="px-2 fs-18">تم انشاء الإعلان بنجاح </span>

</div>

<div class="alert alert-danger" role="alert" *ngIf="false">
  <svg xmlns="http://www.w3.org/2000/svg" width="17.049" height="12.429" viewBox="0 0 17.049 12.429">
    <path  d="M-7656.826-5886.69h-.005l-.029,0-.018,0-.018,0-.031-.006h-.006a1.733,1.733,0,0,1-.792-.406l-4.618-4.143a1.75,1.75,0,0,1-.135-2.471,1.75,1.75,0,0,1,2.471-.135l3.385,3.037,7.758-7.758a1.75,1.75,0,0,1,2.475,0,1.752,1.752,0,0,1,0,2.475l-8.931,8.929-.033.032-.024.022-.01.009-.025.022-.009.008-.025.021-.01.008-.022.018-.015.012-.019.014-.02.015-.014.01-.025.018-.011.007-.031.02,0,0a1.746,1.746,0,0,1-.942.275A1.8,1.8,0,0,1-7656.826-5886.69Z" transform="translate(7662.924 5899.099)" fill="currentColor"/>
  </svg>
  
  <span class="px-2 fs-18">تم حذف الإعلان بنجاح</span>

</div>

<!-- Delete  Modal -->


<!-- Modal -->
<div class="modal fade deletemodal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-center mx-auto" id="exampleModalLabel">حذف الاعلان</h1>
        <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class=" text-center px-4">
          هل انت متأكد من رغبتك بحذف الإعلان ؟
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn  btn-outline-dark px-3" data-bs-dismiss="modal">إغلاق</button>
        <button type="button" class="btn btn-danger px-3">حذف</button>
      </div>
    </div>
  </div>
</div>