<main class="midsection">
  <div class="innerheader position-relative">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>إضافة إعلان</h2>
          <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
              <li class="breadcrumb-item"><a href="#">إعلانات عامة</a></li>
              <li class="breadcrumb-item active" aria-current="page">إضافة إعلان</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    <a href="#" class="btn-secondary righthomebutton">
      حساب مسؤول النظام
    </a>
  </div>

  <div class="advtablelist addadv">
    <div class="container">
      <div class="row justify-content-between mb-3">

        <div class="col-md-12">
          <form class="customform">
            <div class="row gx-5">
              <div class="col-md-4">
                <div class="form-group mb-4">
                  <label class="pb-2">عنوان الاعلان</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1"
                    placeholder="الرجاء ادخال عنوان الاعلان">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group  mb-4 position-relative">
                  <label class="pb-2">عنوان الاعلان</label>
                  <input type="file" class="form-control" id="exampleFormControlInput2" placeholder="صورة الاعلان">
                  <div class="d-flex position-absolute start-0 bottom-0">
                    <button class="bg-transparent border-0 mx-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18.609" height="19.69" viewBox="0 0 18.609 19.69">
                        <path id="trashred"
                          d="M19.315,7.362l-.671,12.507a.875.875,0,0,1-.866.822H6.83a.875.875,0,0,1-.866-.822L5.294,7.362a.867.867,0,1,1,1.731-.087l.627,11.684h9.326l.627-11.684a.856.856,0,1,1,1.709.087Zm2.294-2.9a.868.868,0,0,1-.866.866H3.866a.866.866,0,0,1,0-1.731h4.76V1.649A.626.626,0,0,1,9.318,1H15.29a.626.626,0,0,1,.692.649V3.6h4.76A.868.868,0,0,1,21.609,4.462ZM10.14,3.6h4.328V2.515H10.14Zm.368,14.065a.81.81,0,0,0,.757-.822l-.216-9.348a.771.771,0,0,0-.779-.757.74.74,0,0,0-.736.779l.216,9.369a.786.786,0,0,0,.757.779Zm3.57,0a.767.767,0,0,0,.757-.757l.216-9.348a.758.758,0,0,0-1.515-.043l-.216,9.348a.763.763,0,0,0,.757.8Z"
                          transform="translate(-3 -1)" fill="#c5534d" />
                      </svg>
                    </button>
                    <button class="btn btn-primary   uploadbutton">
                      <img src="assets/img/upload.svg" alt="">
                      <span class="px-2 ">
                        رفع الملف
                      </span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group  mb-4 position-relative">
                  <label class="pb-2">عنوان الاعلان</label>
                  <input type="file" class="form-control" id="exampleFormControlInput2" placeholder="صورة الاعلان">
                  <div class="d-flex position-absolute start-0 bottom-0">
                    <button class="bg-transparent border-0 mx-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18.609" height="19.69" viewBox="0 0 18.609 19.69">
                        <path id="trashred"
                          d="M19.315,7.362l-.671,12.507a.875.875,0,0,1-.866.822H6.83a.875.875,0,0,1-.866-.822L5.294,7.362a.867.867,0,1,1,1.731-.087l.627,11.684h9.326l.627-11.684a.856.856,0,1,1,1.709.087Zm2.294-2.9a.868.868,0,0,1-.866.866H3.866a.866.866,0,0,1,0-1.731h4.76V1.649A.626.626,0,0,1,9.318,1H15.29a.626.626,0,0,1,.692.649V3.6h4.76A.868.868,0,0,1,21.609,4.462ZM10.14,3.6h4.328V2.515H10.14Zm.368,14.065a.81.81,0,0,0,.757-.822l-.216-9.348a.771.771,0,0,0-.779-.757.74.74,0,0,0-.736.779l.216,9.369a.786.786,0,0,0,.757.779Zm3.57,0a.767.767,0,0,0,.757-.757l.216-9.348a.758.758,0,0,0-1.515-.043l-.216,9.348a.763.763,0,0,0,.757.8Z"
                          transform="translate(-3 -1)" fill="#c5534d" />
                      </svg>
                    </button>
                    <button class="btn btn-primary   uploadbutton">
                      <img src="assets/img/upload.svg" alt="">
                      <span class="px-2 ">
                        رفع الملف
                      </span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group mb-4">
                  <label class="pb-2">محتوى الاعلان</label>
                  <textarea class="form-control" rows="6" placeholder="الرجاء ادخال نص الإعلان هنا"></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary h-100">
          <img src="assets/img/check.svg" alt="">
          <span class="px-2">
            حفظ
          </span>
        </button>
      </div>
    </div>
  </div>
</main>