<main class="midsection">
  <div class="innerheader position-relative">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>نود احاطتكم بأنه سيكون هناك اعمال صيانة لتحسين الأنظمة و الخدمات</h2>

          <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
              <li class="breadcrumb-item"><a href="#">إعلانات عامة</a></li>

              <li class="breadcrumb-item active" aria-current="page">نود احاطتكم بأنه سيكون هناك اعمال صيانة لتحسين
                الأنظمة و الخدمات</li>
            </ol>
          </nav>

        </div>
      </div>
    </div>
    <a href="#" class="btn-secondary righthomebutton">
      حساب مسؤول النظام
    </a>
  </div>

  <div class="advviewpage">
    <div class="container">
      <div class="row gx-5">
        <div class="col-md-4">
          <div class="advimg rounded-5 overflow-hidden">
            <img src="assets/img/event.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-md-8">
          <div class="advcontent">
            <p>
              احتفلت شركة نجم لخدمات التأمين بمقرها بالرياض بمناسبة اليوم الوطني الـ 92 لتأسيس المملكة العربية السعودية
              في تقليد سنوي تتبعه الشركة احتفالاً بهذه المناسبة الوطنية الغالية، واشتملت فقرات الفعالية على مجموعة من
              الأنشطة الداخلية لموظفي وموظفات الشركة. واحتوى الاحتفال على العديد من الفقرات والمسابقات والعروض الفنية
              التي جسدت النسيج الوطني والموروث الشعبي لتراث الآباء والأجداد، وعبرّت عن الإنجازات التي حققتها المملكة
              خلال العقود الماضية، في شتى المجالات إضافة إلى إضاءة المقر الرئيسي للشركة في هذا اليوم العظيم.وبهذه
              المناسبة، أعرب الدكتور محمد السليمان الرئيس التنفيذي
            </p>
          </div>
        </div>
      </div>


      <div class=" d-flex justify-content-end mt-5">
        <button class="btn btn-warning d-flex align-items-center">
          <img src="assets/img/editicon.svg" alt="">
          <span class="px-2">
            تعديل
          </span>
        </button>
        <span class="mx-2"></span>
        <button class="btn btn-danger d-flex align-items-center">
          <img src="assets/img/trash.svg" alt="">
          <span class="px-2">
            حذف
          </span>
        </button>
      </div>


    </div>
  </div>
</main>