<section class="my-3">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <div class="topHeading d-flex align-items-center column-gap-15 mb-2">
          <div class="headingIcon rounded-circle bg-orange d-flex align-items-center justify-content-center">
            <img src="/assets/img/megaphone.svg" alt="" class="img-fluid" />
          </div>
          <h2>{{'general_advertisements' | translate }}</h2>
        </div>
        <div class="owl-carousel owl-theme event-carousel">
          <div class="item" *ngFor="let item of [1,2,3,4]">
            <h4>نود احاطتكم بأنه سيكون هناك اعمال صيانة لتحسين الأنظمة و الخدمات</h4>
            <h5>منذ 30 دقيقة</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-3">

      <div class="col-12 col-lg-4">
        <div class="row">
          <div class="col-12 main-carouselHeight">
            <div class="owl-carousel owl-theme main-carousel">
              <div class="item" *ngFor="let item of [1,2,3]">
                <div class="carouselImage">
                  <img src="assets/img/event.png" alt="" class="img-fluid" />
                </div>
                <div class="carouselContent">
                  <h4>بفعاليات متنوعة وعروض شيقة نجم تحتفل بالذكرى الـ 92 لليوم الوطني</h4>
                  <h5>منذ 30 دقيقة</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 bottomButton">
            <a href="#" class="btn btn-default w-100 p-2 bg-green mx-auto fs-15 fw-bold">
              عرض جميع الأخبار
            </a>
          </div>
        </div>

      </div>

      <div class="col-12 col-lg-4">
        <div class="row mt-4 mt-lg-0">
          <div class="col-sm-12">
            <div class="roundBox bg-white shadow py-2 px-3">
              <div class="boxHeading mb-2">
                <div class="boxIcon bg-blue me-3">
                  <img src="/assets/img/certificate.svg" alt="" class="img-fluid" />
                </div>
                <h2 class="fs-20 fw-bold text-blue">{{'academic_star' | translate }}</h2>
              </div>
              <div class="boxContent">
                <p class="fs-17 pb-1 mb-0">تعرف على جميع الدورات التدريبية على منصة نجم أكاديمي و التي تحتوي على مجموعة
                  كبيره من الدورات العلمية لجميع التخصصات</p>
                <a href="#" class="btn btn-default bg-blue mx-auto fs-15 fw-bold mx-auto">
                  {{ 'go_to_the_najm_academy_platform' | translate }}
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4 mt-md-3">
          <div class="col-sm-12">
            <div class="roundBox bg-white shadow py-2 px-3">
              <div class="boxHeading mb-1">
                <div class="boxIcon bg-purple me-3">
                  <img src="/assets/img/certificate.svg" alt="" class="img-fluid" />
                </div>
                <h2 class="fs-20 fw-bold text-purple">{{'daily_media_report' | translate}}</h2>
              </div>
              <div class="boxContent">
                <div class="owl-carousel owl-theme box-carousel">
                  <div class="item" *ngFor="let item of [1,2,3]">
                    <p class="fs-17 m-0 p-0">
                      <span class="fw-bold fs-20 text-black"> اليومي</span>
                      <span class="me-1"><img src="/assets/img/calendarbrown.svg" alt=""
                          class="img-fluid"></span>20-05-2023
                    </p>
                    <p class="fs-17 pb-1 mb-0">مدير عام المرور يؤكد الجاهزية لتنفيذ الخطة المرورية المتزامنة مع عودة
                      الدراسة</p>
                    <a href="#" class="btn btn-default bg-purple ms-auto fs-15 fw-bold">
                      {{ "view_all" | translate}}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4 mt-4 mt-lg-0">
        <div class="roundBox bg-white shadow-lg px-3 h-100 position-relative">
          <div class="boxHeading mb-2">
            <div class="boxIcon bg-green me-3">
              <img src="assets/img/certificate.svg" alt="" class="img-fluid" />
            </div>
            <h2 class="fs-20 fw-bold text-green">{{'communicate' | translate}}</h2>
          </div>
          <div class="boxContent evnt-slide">
            <div class="owl-carousel owl-theme box-carousel evntslide">
              <div class="item" *ngFor="let item of [1,2,3]">
                <p class="fw-bold fs-20 text-green mb-1">أشكال الاحتيال الداخلي</p>
                <p class="fs-17 m-0 p-0">
                  <span class="me-1 text-brown"><img src="assets/img/calendarbrown.svg" alt=""
                      class="img-fluid"></span>20-05-2023
                </p>
                <div class="mt-1 mx-auto d-flex align-items-center justify-content-center">
                  <img src="assets/img/image003.png" alt="" class="img-fluid evntslide">
                </div>
              </div>
            </div>
            <a routerLink="/main/dashboard/tawasol" class="btn btn-default bg-brown ms-auto fs-15 fw-bold position-absolute">
              {{'view_all' | translate}}
            </a>
          </div>
        </div>
      </div>

    </div>

    <div class="row my-4">
      <div class="col-12 col-lg-4">
        <div class="roundBox bg-green p-4 h-100 d-flex flex-column justify-content-between">
          <div class="d-flex justify-content-between mt-3">
            <div>
              <h2 class="fs-20 fw-bold text-white">رصيد إجازاتك الحالي</h2>
              <p class="fs-1 fw-medium text-white">15يوم</p>
            </div>
            <div class="cLogo">
              <img src="/assets/img/madar.svg" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="boxContent d-flex justify-content-center mt-3">
            <a href="#" class="btn btn-default bg-light-green text-green p-2">{{'go_to_a_managed_system' | translate}} <svg
                xmlns="http://www.w3.org/2000/svg" width="8.017" height="14.035" viewBox="0 0 8.017 14.035">
                <path id="Path_13856" data-name="Path 13856" d="M644.169,132.343l-5.6,5.6,5.6,5.6"
                  transform="translate(-637.566 -130.929)" fill="none" stroke="#32835b" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2" />
              </svg></a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 mt-4 mt-lg-0">
        <div class="roundBox bg-brown p-4 h-100 d-flex flex-column justify-content-between position-relative">
          <span class="special-note position-absolute top-0 start-0 fw-bold fs-15">تحت الإجراء</span>
          <div class="d-flex justify-content-between mt-3">
            <div>
              <h2 class="fs-20 fw-bold text-white">طلبك الحالي هو</h2>
              <p class="fs-15 fw-bold text-white">طلب لوحة مفاتيح و فأرة</p>
            </div>
            <div class="cLogo">
              <img src="/assets/img/headphones.svg" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="boxContent d-flex justify-content-center mt-3">
            <a href="#" class="btn btn-default bg-light text-brown p-2">{{'technical_support_platform' | translate}}
              <svg xmlns="http://www.w3.org/2000/svg" width="8.017" height="14.035" viewBox="0 0 8.017 14.035">
                <path id="Path_13856" data-name="Path 13856" d="M644.169,132.343l-5.6,5.6,5.6,5.6"
                  transform="translate(-637.566 -130.929)" fill="none" stroke="#55565A" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2" />
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 mt-4 mt-lg-0">
        <div class="roundBox bg-green p-4 h-100 d-flex flex-column justify-content-between">
          <div class="d-flex justify-content-between mt-3">
            <div>
              <h2 class="fs-28 fw-bold text-white"><img src="assets/img/upfast-forward.svg" class="img-fluid ms-2"> نظام
                طور</h2>
            </div>
          </div>
          <div class="boxContent d-flex justify-content-center mt-3">
            <a href="#" class="btn btn-default bg-light-green text-green p-2">{{'create_a_new_mode_request' | translate }}<svg
                xmlns="http://www.w3.org/2000/svg" width="8.017" height="14.035" viewBox="0 0 8.017 14.035">
                <path id="Path_13856" data-name="Path 13856" d="M644.169,132.343l-5.6,5.6,5.6,5.6"
                  transform="translate(-637.566 -130.929)" fill="none" stroke="#32835b" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2" />
              </svg></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-4 my-md-5">
      <div class="col-12 col-lg-4 mt-4 mt-lg-0">
        <div class="roundBox bg-white border border-dark shadow-lg">
          <div class="listBoxHeading bg-brown d-flex align-items-center justify-content-between p-3">
            <div class="d-flex align-items-center column-gap-15">
              <img src="/assets/img/headphones.svg" alt="" class="img-fluid">
              <h2 class="fs-20 fw-bold text-white">{{ 'technical_support_requests' | translate}}</h2>
            </div>
            <div><img src="/assets/img/export.svg" alt="" class="img-fluid"></div>
          </div>
          <div class="boxContent bg-white rounded-4 p-0">
            <table class="table table-striped mb-0">
              <thead class="stiky">
                <tr>
                  <th width="50%">{{'order_number' | translate }}</th>
                  <th width="50%">{{'order_status' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-right">169068</td>
                  <td class="text-warning">تحت الاجراء</td>
                </tr>
                <tr>
                  <td class="text-right">169068</td>
                  <td class="text-green">مكتمل</td>
                </tr>
                <tr>
                  <td class="text-right">169068</td>
                  <td class="text-warning">تحت الاجراء</td>
                </tr>
                <tr>
                  <td class="text-right">169068</td>
                  <td class="text-green">مكتمل</td>
                </tr>
                <tr>
                  <td class="text-right">169068</td>
                  <td class="text-warning">تحت الاجراء</td>
                </tr>
                <tr>
                  <td class="text-right">169068</td>
                  <td class="text-green">مكتمل</td>
                </tr>
                <tr>
                  <td class="text-right">169068</td>
                  <td class="text-warning">تحت الاجراء</td>
                </tr>
                <tr>
                  <td class="text-right">169068</td>
                  <td class="text-green">مكتمل</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 mt-4 mt-lg-0">
        <div class="roundBox bg-white border border-dark shadow-lg">
          <div class="listBoxHeading bg-green d-flex align-items-center justify-content-between p-3">
            <div class="d-flex align-items-center column-gap-15">
              <img src="/assets/img/cicles.svg" alt="" class="img-fluid">
              <h2 class="fs-20 fw-bold text-white">{{'madar_requests' | translate }}</h2>
            </div>
            <div><img src="/assets/img/export.svg" alt="" class="img-fluid"></div>
          </div>
          <div class="boxContent bg-white rounded-4 p-0">
            <table class="table table-striped mb-0">
              <thead class="stiky">
                <tr>
                  <th width="50%">{{'order_number' | translate }}</th>
                  <th width="50%">{{'order_status' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-right">169068</td>
                  <td class="text-warning">تحت الاجراء</td>
                </tr>
                <tr>
                  <td class="text-right">169068</td>
                  <td class="text-green">مكتمل</td>
                </tr>
                <tr>
                  <td class="text-right">169068</td>
                  <td class="text-warning">تحت الاجراء</td>
                </tr>
                <tr>
                  <td class="text-right">169068</td>
                  <td class="text-green">مكتمل</td>
                </tr>
                <tr>
                  <td class="text-right">169068</td>
                  <td class="text-warning">تحت الاجراء</td>
                </tr>
                <tr>
                  <td class="text-right">169068</td>
                  <td class="text-green">مكتمل</td>
                </tr>
                <tr>
                  <td class="text-right">169068</td>
                  <td class="text-warning">تحت الاجراء</td>
                </tr>
                <tr>
                  <td class="text-right">169068</td>
                  <td class="text-green">مكتمل</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 mt-4 mt-lg-0">
        <div class="roundBox bg-white border border-dark shadow-lg">
          <div class="listBoxHeading bg-brown d-flex align-items-center justify-content-between p-3">
            <div class="d-flex align-items-center column-gap-15">
              <img src="/assets/img/upfast-forward.svg" alt="" class="img-fluid">
              <h2 class="fs-20 fw-bold text-white">{{'tor_system_requests' | translate}}</h2>
            </div>
            <div><img src="/assets/img/export.svg" alt="" class="img-fluid"></div>
          </div>
          <div class="boxContent bg-white rounded-4 p-0">
            <table class="table table-striped mb-0">
              <thead class="stiky">
                <tr>
                  <th width="50%">{{'order_number' | translate }}</th>
                  <th width="50%">{{'order_status' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-right">169068</td>
                  <td class="text-warning">تحت الاجراء</td>
                </tr>
                <tr>
                  <td class="text-right">169068</td>
                  <td class="text-green">مكتمل</td>
                </tr>
                <tr>
                  <td class="text-right">169068</td>
                  <td class="text-warning">تحت الاجراء</td>
                </tr>
                <tr>
                  <td class="text-right">169068</td>
                  <td class="text-green">مكتمل</td>
                </tr>
                <tr>
                  <td class="text-right">169068</td>
                  <td class="text-warning">تحت الاجراء</td>
                </tr>
                <tr>
                  <td class="text-right">169068</td>
                  <td class="text-green">مكتمل</td>
                </tr>
                <tr>
                  <td class="text-right">169068</td>
                  <td class="text-warning">تحت الاجراء</td>
                </tr>
                <tr>
                  <td class="text-right">169068</td>
                  <td class="text-green">مكتمل</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-4 my-md-5">
      <div class="col-12 col-lg-4 mt-4 mt-lg-0">
        <div class="roundBox shadow-none rounded-0 h-100">
          <div class="middleHeading d-flex align-items-center column-gap-15 mb-2">
            <div class="headingIcon rounded-circle bg-orange d-flex align-items-center justify-content-center">
              <img src="/assets/img/calendarwhite.svg" class="img-fluid p-2">
            </div>
            <h2 class="fs-20 fw-bold mb-0">الأحداث و الفعاليات القادمة</h2>
          </div>
          <div class="boxContent bg-white shadow-none">
            <img src="/assets/img/full-calendar.png" class="img-fluid" />
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 mt-4 mt-lg-0">
        <div class="roundBox rounded-0 shadow-none border-dark border-start ps-3 h-100">
          <div class="middleHeading d-flex align-items-center justify-content-between column-gap-15 mb-2">
            <div class="d-flex align-items-center column-gap-15">
              <div class="headingIcon rounded-circle bg-orange d-flex align-items-center justify-content-center">
                <img src="/assets/img/docs.svg" class="img-fluid p-2">
              </div>
              <h2 class="fs-20 fw-bold mb-0">{{'document_library' | translate }}</h2>
            </div>
            <a routerLink="/main/dashboard/shared-docs" class="btn btn-green">{{'view_all' | translate }}</a>
          </div>
          <div class="boxContent bg-white shadow-none">
            <ul class="list-group list-unstyled mt-4">
              <li class="mb-3"><span class="ms-3 d-inline-flex lh-1"><img src="/assets/img/word.svg" alt=""
                    class="img-fluid"></span>يلعب نجم دورًا رئيسيًا في تطوير التأمين يلعب نجم دورًا رئيسيًا في تطوير
                التأمين</li>
              <li class="mb-3"><span class="ms-3 d-inline-flex lh-1"><img src="/assets/img/pdf.svg" alt=""
                    class="img-fluid"></span>يلعب نجم دورًا رئيسيًا في تطوير التأمين يلعب نجم دورًا رئيسيًا في تطوير
                التأمين</li>
              <li class="mb-3"><span class="ms-3 d-inline-flex lh-1"><img src="/assets/img/picture.svg" alt=""
                    class="img-fluid"></span>يلعب نجم دورًا رئيسيًا في تطوير التأمين يلعب نجم دورًا رئيسيًا في تطوير
                التأمين</li>
              <li class="mb-3"><span class="ms-3 d-inline-flex lh-1"><img src="/assets/img/excel.svg" alt=""
                    class="img-fluid"></span>يلعب نجم دورًا رئيسيًا في تطوير التأمين يلعب نجم دورًا رئيسيًا في تطوير
                التأمين</li>
              <li class="mb-0"><span class="ms-3 d-inline-flex lh-1"><img src="/assets/img/pdf.svg" alt=""
                    class="img-fluid"></span>يلعب نجم دورًا رئيسيًا في تطوير التأمين يلعب نجم دورًا رئيسيًا في تطوير
                التأمين</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 mt-4 mt-lg-0">
        <div class="roundBox rounded-0 shadow-none border-dark border-start ps-3 h-100">
          <div class="middleHeading d-flex align-items-center justify-content-between column-gap-15 mb-2">
            <div class="d-flex align-items-center column-gap-15">
              <div class="headingIcon rounded-circle bg-orange d-flex align-items-center justify-content-center">
                <img src="/assets/img/profilewhiteicon.svg" class="img-fluid p-2">
              </div>
              <h2 class="fs-20 fw-bold mb-0">نجومنا الجدد</h2>
            </div>
            <a routerLink="/main/dashboard/employee-list" class="btn btn-green">عرض الكل</a>
          </div>
          <div class="boxContent bg-white shadow-none">
            <ul class="list-unstyled mt-4">
              <li class="media align-items-center mb-3" routerLink="/main/dashboard/employee-details" *ngFor="let item of [1,2,3,4]">
                <div class="shadow rounded-2 ms-3"><img src="/assets/img/profile.png" class="img-fluid p-0"></div>
                <div class="media-body">
                  <h5 class="fs-15 mt-0 mb-1">محمد خالد احمد الغانم</h5>
                  <p class="fs-13 fw-light mb-0">.NET Developer</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bottomSection bg-light rounded-5 my-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4 mt-4 mt-lg-0">
        <div class="roundBox shadow-none rounded-0 h-100">
          <div class="middleHeading d-flex align-items-center column-gap-15 mb-4">
            <div class="headingIcon rounded-circle bg-orange d-flex align-items-center justify-content-center">
              <img src="/assets/img/statistics.svg" class="img-fluid p-0">
            </div>
            <h2 class="fs-20 fw-bold mb-0">شاركنا رأيك</h2>
          </div>
          <div class="boxContent shadow-lg bg-white border border-dark rounded-4 py-4 px-3">
            <h2 class="fs-20 fw-medium mb-4">عنوان الاستفتاء هنا عنوان الاستفتاء هنا عنوان
              الاستفتاء هنا
            </h2>
            <div class="fs-20 fw-medium text-green text-center mb-0">تبقى على انتهاء الاستفتاء</div>
            <div class="timerconainer d-flex justify-content-center align-items-center my-4">
              <div class="timer d-inline-flex flex-column mx-2">
                <div class="fs-30 mb-0 border border-dark px-2">05</div>
                <div class="fs-13 fw-light mb-0 text-center">يوم</div>
              </div>
              <div class="fs-30 fw-medium timerdot">:</div>
              <div class="timer d-inline-flex flex-column mx-2">
                <div class="fs-30 mb-0 border border-dark px-2">04</div>
                <div class="fs-13 fw-light mb-0 text-center">ساعة</div>
              </div>
              <div class="fs-30 fw-medium timerdot">:</div>
              <div class="timer d-inline-flex flex-column mx-1">
                <div class="fs-30 mb-0 border border-dark px-2">10</div>
                <div class="fs-13 fw-light mb-0 text-center">دقيقة</div>
              </div>
              <div class="fs-30 fw-medium timerdot">:</div>
              <div class="timer d-inline-flex flex-column mx-2">
                <div class="fs-30 mb-0 border border-dark px-2">22</div>
                <div class="fs-13 fw-light mb-0 text-center">ثانية</div>
              </div>
            </div>
            <a href="#" class="btn btn-default p-2 bg-green mx-auto fs-15 fw-bold">
              ابدأ الاستفتاء
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 mt-4 mt-lg-0">
        <div class="roundBox shadow-none rounded-0 h-100">
          <div class="middleHeading d-flex align-items-center column-gap-15 mb-4">
            <div class="headingIcon rounded-circle bg-orange d-flex align-items-center justify-content-center">
              <img src="/assets/img/mosque.svg" class="img-fluid p-0">
            </div>
            <h2 class="fs-20 fw-bold mb-0">مواعيد الصلاة</h2>
          </div>
          <div class="boxContent namaj-bg shadow-lg bg-white border border-dark rounded-4 py-4 px-3">
            <div class="d-flex justify-content-between mb-1">
              <div>
                <h2 class="fs-15 fw-bold text-green mb-1">الصلاة التالية</h2>
                <h3 class="fs-30 fw-bold text-dark mb-1">12:35</h3>
                <p class="fs-13 text-dark mb-1"> <span class="text-green fw-medium">00:01:44</span> متبقية لصلاة
                  الظهر </p>
              </div>
              <img src="/assets/img/mosquegreen.svg" class="img-fluid p-0">
            </div>

            <div class="d-flex justify-content-between align-items-center border-bottom border-dark py-1 mb-1">
              <div class="d-flex align-items-center">
                <img src="/assets/img/sunrise.svg" class="img-fluid" />
                <div class="fw-13 fw-medium me-1">Fajr</div>
              </div>
              <div class="fw-13 fw-medium">4:13</div>
            </div>
            <div class="d-flex justify-content-between align-items-center border-bottom border-dark py-1 mb-1">
              <div class="d-flex align-items-center">
                <img src="/assets/img/sun.svg" class="img-fluid" />
                <div class="fw-13 fw-medium text-green me-1">Dhuhur</div>
              </div>
              <div class="fw-13 fw-medium text-green">12:35</div>
            </div>
            <div class="d-flex justify-content-between align-items-center border-bottom border-dark py-1 mb-1">
              <div class="d-flex align-items-center">
                <img src="/assets/img/cloud.svg" class="img-fluid" />
                <div class="fw-13 fw-medium me-1">Aser</div>
              </div>
              <div class="fw-13 fw-medium">15:35</div>
            </div>
            <div class="d-flex justify-content-between align-items-center border-bottom border-dark py-1 mb-1">
              <div class="d-flex align-items-center">
                <img src="/assets/img/sunset.svg" class="img-fluid" />
                <div class="fw-13 fw-medium me-1">Maghrib</div>
              </div>
              <div class="fw-13 fw-medium">18:15</div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-0">
              <div class="d-flex align-items-center">
                <img src="assets/img/moon.svg" class="img-fluid" />
                <div class="fw-13 fw-medium me-1">Isha</div>
              </div>
              <div class="fw-13 fw-medium">20:15</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 mt-4 mt-lg-0">
        <div class="roundBox shadow-none rounded-0 h-100">
          <div class="middleHeading d-flex align-items-center column-gap-15 mb-4">
            <div class="headingIcon rounded-circle bg-orange d-flex align-items-center justify-content-center">
              <img src="/assets/img/exchangefile.svg" class="img-fluid p-0">
            </div>
            <h2 class="fs-20 fw-bold mb-0">تحويل التاريخ</h2>
          </div>
          <div class="boxContent shadow-lg bg-white border border-dark rounded-4 py-4 px-3">
            <div class="d-flex justify-content-between mt-2">
              <div>
                <h2 class="fs-15 fw-bold text-green bmb-1">تحويل من</h2>
              </div>
              <img src="/assets/img/exchangegreen.svg" class="img-fluid p-0">
            </div>
            <div class="d-flex flex-column">
              <div class="row mt-3">
                <div class="col-sm-12">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                      value="option1">
                    <label class="form-check-label" for="inlineRadio1">هجري إلى ميلادي</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                      value="option2">
                    <label class="form-check-label" for="inlineRadio2">ميلادي إلى هجري</label>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-12 col-md-4">
                  <select class="form-select form-select-sm">
                    <option selected>اليوم</option>
                    <option value="1">اليوم</option>
                    <option value="2">اليوم</option>
                    <option value="3">اليوم</option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-4">
                  <select class="form-select form-select-sm">
                    <option selected>الشهر</option>
                    <option value="1">الشهر</option>
                    <option value="2">الشهر</option>
                    <option value="3">الشهر</option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-4">
                  <select class="form-select form-select-sm">
                    <option selected>السنة</option>
                    <option value="1">السنة</option>
                    <option value="2">السنة</option>
                    <option value="3">السنة</option>
                  </select>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-sm-12 mt-3">
                  <a href="#" class="btn btn-default p-2 bg-green mx-auto fs-15 fw-bold">
                    تحويل
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>