<main class="midsection">
  <div class="innerheader position-relative">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>إدارة الأنظمة</h2>

          <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>

              <li class="breadcrumb-item active" aria-current="page">إدارة الأنظمة</li>
            </ol>
          </nav>

        </div>
      </div>
    </div>
    <a href="#" class="btn-secondary righthomebutton">
      حساب مسؤول النظام
    </a>
  </div>

  <div class="adminservices">
    <div class="container">
      <div class="row row-cols-lg-5 g-3 g-lg-5">
        <div class="col">
          <div class="card">
            <div class="iconbox bg-primary rounded-circle mx-auto d-flex justify-content-center align-items-center">
              <img src="/assets/img/megaphone1.svg" alt="" class="img-fluid">
            </div>
            <h5>إعلانات عامة</h5>

            <a href="#" class="btn btn-primary text-white">
              <span>التفاصيل</span>
              <img src="/assets/img/leftwhitearrow.svg" alt="">
            </a>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="iconbox bg-primary rounded-circle mx-auto d-flex justify-content-center align-items-center">
              <img src="/assets/img/education.svg" alt="" class="img-fluid">
            </div>
            <h5>دورات نجم التدريبية</h5>

            <a href="#" class="btn btn-primary text-white">
              <span>التفاصيل</span>
              <img src="/assets/img/leftwhitearrow.svg" alt="">
            </a>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="iconbox bg-primary rounded-circle mx-auto d-flex justify-content-center align-items-center">
              <img src="/assets/img/globe.svg" alt="" class="img-fluid">
            </div>
            <h5>تواصل</h5>

            <a href="#" class="btn btn-primary text-white">
              <span>التفاصيل</span>
              <img src="/assets/img/leftwhitearrow.svg" alt="">
            </a>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="iconbox bg-primary rounded-circle mx-auto d-flex justify-content-center align-items-center">
              <img src="/assets/img/newspaper1.svg" alt="" class="img-fluid">
            </div>
            <h5>الأخبار</h5>

            <a routerLink="/main/news/list" class="btn btn-primary text-white">
              <span>التفاصيل</span>
              <img src="/assets/img/leftwhitearrow.svg" alt="">
            </a>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="iconbox bg-primary rounded-circle mx-auto d-flex justify-content-center align-items-center">
              <img src="/assets/img/file.svg" alt="" class="img-fluid">
            </div>
            <h5>التقرير الإعلامي اليومي</h5>

            <a href="#" class="btn btn-primary text-white">
              <span>التفاصيل</span>
              <img src="/assets/img/leftwhitearrow.svg" alt="">
            </a>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="iconbox bg-primary rounded-circle mx-auto d-flex justify-content-center align-items-center">
              <img src="/assets/img/calendarbig.svg" alt="" class="img-fluid">
            </div>
            <h5>الأحداث و الفعاليات
              القادمة</h5>

            <a href="#" class="btn btn-primary text-white">
              <span>التفاصيل</span>
              <img src="/assets/img/leftwhitearrow.svg" alt="">
            </a>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="iconbox bg-primary rounded-circle mx-auto d-flex justify-content-center align-items-center">
              <img src="/assets/img/fileicon2.svg" alt="" class="img-fluid">
            </div>
            <h5>مكتبة المستندات</h5>

            <a href="#" class="btn btn-primary text-white">
              <span>التفاصيل</span>
              <img src="/assets/img/leftwhitearrow.svg" alt="">
            </a>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="iconbox bg-primary rounded-circle mx-auto d-flex justify-content-center align-items-center">
              <img src="/assets/img/users.svg" alt="" class="img-fluid">
            </div>
            <h5> نجومنا الجدد</h5>

            <a href="#" class="btn btn-primary text-white">
              <span>التفاصيل</span>
              <img src="/assets/img/leftwhitearrow.svg" alt="">
            </a>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="iconbox bg-primary rounded-circle mx-auto d-flex justify-content-center align-items-center">
              <img src="/assets/img/chart.svg" alt="" class="img-fluid">
            </div>
            <h5>شاركنا رأيك</h5>

            <a href="#" class="btn btn-primary text-white">
              <span>التفاصيل</span>
              <img src="/assets/img/leftwhitearrow.svg" alt="">
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>